[data-theme='dark'] {
  --main-100: #dbdbdb;
  --main-400: #727272;
  --main-500: #4f4f4f;
  --main-600: #242424;
  --font_default: #DBE0E9;
  --secondary-info: #afb3ba;
  --white: #ffffff;
  --page_background: #181818;
  --block_background: #4f4f4f;
  --comments_background: #242424b3;
  --logo_homepage: #DBE0E9;
  --logo_header: #DBE0E9;
  --hover: #727272;
}