[data-theme='red'] {
  --main-100: #edd4db;
  --main-400: #b9556e;
  --main-500: #a82b4b;
  --main-600: #86223b;
  --font_default: #000000;
  --secondary-info: #6f7276;
  --button: #727272;
  --white: #f4edef;
  --page_background: #ededf0;
  --block_background: #e6d5da;
  --comments_background: #ededf0b3;
  --logo_homepage: #a82b4b;
  --logo_header: #ffffff;
  --hover: #c99ca9;
  --attention: #dbbdc6;
  --shadow: #5616264d;
}