@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0; }

html {
  min-height: 100%; }

body {
  height: 100vh; }

main {
  min-height: 100%;
  margin: 0; }

.content {
  padding: 0 16px 12vh 16px;
  min-height: calc(100vh - 64px); }

.separator {
  height: 1px;
  border-radius: 6px;
  width: 100%;
  margin: 16px 0;
  background-color: rgba(180, 180, 183, 0.3); }

.backdrop {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background-color: rgba(231, 231, 233, 0.5);
  transition: all 250ms; }
  .backdrop.open {
    opacity: 1;
    z-index: 3; }

header {
  background-color: #2C2B5B;
  color: #ffffff;
  height: 64px;
  display: flex;
  align-items: center;
  padding: 16px; }
  header a {
    color: #ffffff;
    text-decoration: none; }

.header_logo {
  font-weight: 700;
  font-size: 2rem; }

.homepage {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ededf0; }
  .homepage .logo {
    font-size: 3rem;
    font-weight: 700;
    color: #151375;
    margin-bottom: 24px; }

.login-form_container {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  box-shadow: 4px 4px 6px 4px rgba(180, 180, 183, 0.3); }
  .login-form_container form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 25vw; }
    .login-form_container form input {
      font-size: 1.1rem;
      padding: 16px 14px;
      border-radius: 6px;
      border: 1px solid #dddfe2;
      transition: all 500ms;
      outline: none; }
      .login-form_container form input:focus {
        border: 1px solid #151375;
        box-shadow: 0px 0px 6px 1px rgba(21, 19, 117, 0.5); }
    .login-form_container form button {
      background-color: #151375;
      color: #ffffff;
      font-size: 1.5rem;
      font-weight: 700;
      border: none;
      border-radius: 6px;
      padding: 8px;
      transition: background-color 300ms; }
      .login-form_container form button:hover, .login-form_container form button:active {
        cursor: pointer;
        background-color: #100f5d; }
  .login-form_container .signup-button {
    background-color: #679242;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 6px;
    border: none;
    padding: 8px;
    height: 100%;
    text-decoration: none;
    transition: background-color 300ms; }
    .login-form_container .signup-button:hover, .login-form_container .signup-button:active {
      cursor: pointer;
      background-color: #417712; }

.signup-modal {
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 250ms;
  background-color: #ffffff;
  border-radius: 6px; }
  .signup-modal.open {
    opacity: 1;
    z-index: 4; }
  .signup-modal .header {
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 0 16px; }
    .signup-modal .header .close-button {
      font-size: 1.5rem; }
      .signup-modal .header .close-button:hover, .signup-modal .header .close-button:active {
        cursor: pointer; }
  .signup-modal form {
    display: flex;
    flex-direction: column;
    padding: 0 16px 16px 16px;
    gap: 16px; }
    .signup-modal form .personal-info {
      display: flex;
      gap: 16px; }
    .signup-modal form input {
      font-size: 1rem;
      padding: 8px;
      background-color: #ededf0;
      border-radius: 6px;
      border: 1px solid #dddfe2;
      outline-color: #151375; }
    .signup-modal form button {
      background-color: #151375;
      color: #ffffff;
      font-size: 1.5rem;
      font-weight: 700;
      border: none;
      border-radius: 6px;
      padding: 8px;
      transition: background-color 300ms; }
      .signup-modal form button:hover, .signup-modal form button:active {
        cursor: pointer;
        background-color: #100f5d; }

/*# sourceMappingURL=App.css.map */
