@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0; }

html {
  min-height: 100%; }

body {
  height: 100%; }

::selection {
  background: #151375;
  color: #ffffff; }

main {
  min-height: 100%;
  margin: 0; }

.content {
  padding: 0 16px 12vh 16px;
  margin-top: 64px;
  min-height: calc(100vh - 64px);
  width: 100%; }

.separator {
  height: 1px;
  border-radius: 6px;
  width: 100%;
  margin: 16px 0;
  background-color: rgba(180, 180, 183, 0.3); }

.backdrop {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background-color: rgba(231, 231, 233, 0.5);
  transition: opacity 250ms; }
  .backdrop.open {
    opacity: 1;
    z-index: 6; }

.bolded {
  font-weight: 700; }

.heart-icon {
  color: #151375; }
  .heart-icon:hover, .heart-icon:active {
    cursor: pointer; }

header {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  background-color: #151375;
  color: #ffffff;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px; }
  header a {
    color: #ffffff;
    text-decoration: none; }
  header nav {
    display: flex;
    gap: 24px;
    align-items: center; }
    header nav img {
      height: 32px; }
    header nav .user-container_profile {
      display: flex; }
    header nav .user-dropdown_button {
      position: relative; }
      header nav .user-dropdown_button .dropdown-menu {
        position: absolute;
        right: 0;
        background-color: #ffffff;
        color: #000000;
        border-radius: 6px;
        box-shadow: 4px 4px 6px 4px rgba(180, 180, 183, 0.3); }
        header nav .user-dropdown_button .dropdown-menu .dropdown-separator {
          height: 1px;
          border-radius: 6px;
          width: 100%;
          background-color: rgba(180, 180, 183, 0.3); }
        header nav .user-dropdown_button .dropdown-menu .dropdown-link {
          color: #000000;
          border-radius: 6px; }
          header nav .user-dropdown_button .dropdown-menu .dropdown-link div {
            display: flex;
            align-items: center;
            gap: 4px; }
            header nav .user-dropdown_button .dropdown-menu .dropdown-link div img {
              height: 1rem; }
          header nav .user-dropdown_button .dropdown-menu .dropdown-link:first-of-type div {
            border-top-left-radius: 6px;
            border-top-right-radius: 6px; }
          header nav .user-dropdown_button .dropdown-menu .dropdown-link:last-of-type div {
            background-color: #fee5e5;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px; }
          header nav .user-dropdown_button .dropdown-menu .dropdown-link div {
            padding: 6px 12px; }
            header nav .user-dropdown_button .dropdown-menu .dropdown-link div:hover {
              cursor: pointer;
              background-color: #d0cfe3; }
    header nav .button_logout img {
      height: 24px; }
    header nav .button_logout:hover, header nav .button_logout:active {
      cursor: pointer; }

.header_logo {
  font-weight: 700;
  font-size: 2rem; }

.homepage {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ededf0; }
  .homepage .logo {
    font-size: 3rem;
    font-weight: 700;
    color: #151375;
    margin-bottom: 24px;
    transition: 250ms; }
    .homepage .logo:hover {
      text-shadow: 0px 0px 8px rgba(21, 19, 117, 0.33); }
  .homepage h2 {
    position: relative;
    top: -60px;
    opacity: 0;
    transition: all 1250ms ease-out; }
    .homepage h2.animated {
      opacity: 1;
      top: 0; }
  .homepage .guest-login_button {
    padding: 6px;
    border-radius: 6px;
    background-color: #ededf0;
    border: none; }
    .homepage .guest-login_button:hover, .homepage .guest-login_button:active {
      cursor: pointer;
      background-color: #dadadd; }

.login-container {
  position: relative; }
  .login-container .policy-link {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    color: #000000;
    text-decoration: none;
    font-size: 0.8rem; }
    .login-container .policy-link:hover, .login-container .policy-link:active {
      text-decoration: underline; }

.login-form_container {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  box-shadow: 4px 4px 6px 4px rgba(180, 180, 183, 0.3); }
  .login-form_container a {
    margin-top: 8px;
    color: #151375;
    font-size: 0.9rem;
    text-decoration: none; }
    .login-form_container a:active, .login-form_container a:hover {
      text-decoration: underline; }
  .login-form_container form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 25vw; }
    .login-form_container form input {
      font-size: 1.1rem;
      padding: 16px 14px;
      border-radius: 6px;
      border: 1px solid #dddfe2;
      transition: all 500ms;
      outline: none; }
      .login-form_container form input:focus {
        border: 1px solid #151375;
        box-shadow: 0px 0px 6px 1px rgba(21, 19, 117, 0.5); }
    .login-form_container form button {
      background-color: #151375;
      color: #ffffff;
      font-size: 1.5rem;
      font-weight: 700;
      border: none;
      border-radius: 6px;
      padding: 8px;
      transition: background-color 300ms; }
      .login-form_container form button:hover, .login-form_container form button:active {
        cursor: pointer;
        background-color: #100f5d; }
  .login-form_container .signup-button {
    background-color: #679242;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 6px;
    border: none;
    padding: 8px;
    height: 100%;
    text-decoration: none;
    transition: background-color 300ms; }
    .login-form_container .signup-button:hover, .login-form_container .signup-button:active {
      cursor: pointer;
      background-color: #417712; }

.signup-modal {
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 250ms;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 4px 4px 6px 4px rgba(180, 180, 183, 0.3); }
  .signup-modal.open {
    opacity: 1;
    z-index: 7; }
  .signup-modal .header {
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 0 16px; }
    .signup-modal .header .close-button {
      font-size: 1.5rem; }
      .signup-modal .header .close-button:hover, .signup-modal .header .close-button:active {
        cursor: pointer; }
  .signup-modal form {
    display: flex;
    flex-direction: column;
    padding: 0 16px 16px 16px;
    gap: 16px; }
    .signup-modal form .personal-info {
      display: flex;
      gap: 16px; }
    .signup-modal form input {
      font-size: 1rem;
      padding: 8px;
      background-color: #ededf0;
      border-radius: 6px;
      border: 1px solid #dddfe2;
      outline-color: #151375; }
    .signup-modal form button {
      background-color: #151375;
      color: #ffffff;
      font-size: 1.5rem;
      font-weight: 700;
      border: none;
      border-radius: 6px;
      padding: 8px;
      transition: background-color 300ms; }
      .signup-modal form button:hover, .signup-modal form button:active {
        cursor: pointer;
        background-color: #100f5d; }

.recover {
  background-color: #ededf0;
  display: flex;
  justify-content: center; }
  .recover .recover-form_container {
    background-color: #ffffff;
    padding: 16px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    width: auto;
    height: fit-content;
    margin-top: 24px;
    box-shadow: 4px 4px 6px 4px rgba(180, 180, 183, 0.3); }
    .recover .recover-form_container a {
      margin-top: 8px;
      color: #151375;
      font-size: 0.9rem;
      text-decoration: none; }
      .recover .recover-form_container a:active, .recover .recover-form_container a:hover {
        text-decoration: underline; }
    .recover .recover-form_container form {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 25vw; }
      .recover .recover-form_container form input {
        font-size: 1.1rem;
        padding: 16px 14px;
        border-radius: 6px;
        border: 1px solid #dddfe2;
        transition: all 500ms;
        outline: none; }
        .recover .recover-form_container form input:focus {
          border: 1px solid #151375;
          box-shadow: 0px 0px 6px 1px rgba(21, 19, 117, 0.5); }
      .recover .recover-form_container form button {
        background-color: #151375;
        color: #ffffff;
        font-size: 1.5rem;
        font-weight: 700;
        border: none;
        border-radius: 6px;
        padding: 8px;
        transition: background-color 300ms; }
        .recover .recover-form_container form button:hover, .recover .recover-form_container form button:active {
          cursor: pointer;
          background-color: #100f5d; }

.profile {
  background-color: #ededf0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: absolute; }
  .profile div {
    border-radius: 6px; }
  .profile .user-info_container {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 4px 6px 4px rgba(180, 180, 183, 0.3); }
  .profile .background_container {
    position: relative;
    height: 350px;
    box-shadow: 4px 4px 6px 4px rgba(180, 180, 183, 0.3); }
    .profile .background_container img {
      height: 100%;
      object-fit: cover; }
  .profile .background-picture_overlay {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.2s; }
    .profile .background-picture_overlay img {
      position: absolute;
      right: 16px;
      bottom: 16px;
      height: 20%; }
    .profile .background-picture_overlay.active {
      opacity: 1;
      cursor: pointer; }
  .profile .background-picture {
    position: relative;
    top: 0;
    z-index: 0;
    height: 100%;
    border-radius: 6px;
    width: 66vw; }
  .profile .profile-picture_overlay {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 4;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    transition: 0.2s; }
    .profile .profile-picture_overlay img {
      height: 40%;
      width: 40%; }
    .profile .profile-picture_overlay.active {
      opacity: 1;
      cursor: pointer; }
  .profile .profile-picture {
    position: relative;
    z-index: 3;
    box-shadow: 0 0 0 6px #ffffff; }
  .profile .user-info {
    display: flex;
    align-items: center;
    gap: 24px;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    top: -50px;
    left: 40px;
    width: 66vw;
    padding-right: 40px; }
    .profile .user-info h3 {
      font-size: 2rem; }
    .profile .user-info .user-info_data {
      display: flex;
      justify-content: space-between;
      width: 100%; }
  .profile .add-friend-button {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #151375;
    color: #ffffff;
    border-radius: 6px;
    font-weight: 700;
    padding: 0 8px; }
    .profile .add-friend-button:hover, .profile .add-friend-button:active {
      cursor: pointer;
      background-color: #100f5d; }
  .profile .friendship-status {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #ffffff;
    border-radius: 6px;
    font-weight: 700;
    padding: 0 8px;
    font-size: 0.9rem; }
    .profile .friendship-status.accepted {
      border: 2px solid #429244;
      color: #429244; }
    .profile .friendship-status.delete {
      border: 2px solid #f90000;
      background-color: #fb6666;
      color: #ffffff; }
      .profile .friendship-status.delete:hover {
        cursor: pointer; }
      .profile .friendship-status.delete:active {
        background-color: #f90000; }
    .profile .friendship-status.pending {
      background-color: #8dbd8e; }
  .profile .social-container {
    display: flex;
    gap: 16px;
    width: calc(100% - 20vw); }
    .profile .social-container .friends_container {
      background-color: #ffffff;
      padding: 16px;
      box-shadow: 4px 4px 6px 4px rgba(180, 180, 183, 0.3);
      height: fit-content; }
      .profile .social-container .friends_container .section-header {
        font-size: 1.3rem;
        margin-bottom: 16px; }
        .profile .social-container .friends_container .section-header h3 {
          font-size: 1.5rem; }
    .profile .social-container .friends_container {
      width: 35%; }
    .profile .social-container .profile_new-post {
      background-color: #ffffff;
      box-shadow: 4px 4px 6px 4px rgba(180, 180, 183, 0.3);
      padding: 16px;
      margin-bottom: 36px; }
      .profile .social-container .profile_new-post h3 {
        margin-bottom: 16px; }
    .profile .social-container .posts_container {
      width: 60%; }
      .profile .social-container .posts_container .section-header {
        display: flex;
        justify-content: space-between;
        background-color: #ffffff;
        border-radius: 6px;
        padding: 16px;
        box-shadow: 4px 4px 6px 4px rgba(180, 180, 183, 0.3); }
        .profile .social-container .posts_container .section-header h3 {
          font-size: 1.5rem; }
        .profile .social-container .posts_container .section-header button {
          background-color: #434290;
          color: #ffffff;
          border: none;
          border-radius: 6px;
          padding: 6px 8px;
          font-size: 1rem; }
          .profile .social-container .posts_container .section-header button:hover, .profile .social-container .posts_container .section-header button:active {
            cursor: pointer;
            background-color: #151375; }
    .profile .social-container .friends-list {
      max-width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, 120px);
      gap: 8px; }
      .profile .social-container .friends-list .friend {
        width: 100%;
        justify-self: center;
        align-self: center; }
        .profile .social-container .friends-list .friend a {
          text-decoration: none; }
          .profile .social-container .friends-list .friend a:hover, .profile .social-container .friends-list .friend a:active {
            text-decoration: underline; }
        .profile .social-container .friends-list .friend .name {
          font-size: 0.9rem;
          font-weight: 700;
          color: #000000; }

.timeline-page {
  background-color: #ededf0;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .timeline-page .new-post_container {
    width: 60%;
    background-color: #ffffff;
    padding: 16px;
    margin: 32px 0;
    border-radius: 6px;
    box-shadow: 2px 2px 4px 2px rgba(180, 180, 183, 0.3); }
    .timeline-page .new-post_container h3 {
      margin-bottom: 16px; }
  .timeline-page .timeline-posts_container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center; }

.error-container {
  border-radius: 6px;
  padding: 8px;
  background-color: #fdcccc;
  border: 2px solid #fb6666;
  color: #630000;
  width: fit-content; }
  .error-container ul {
    margin-left: 20px; }

.success-container {
  border-radius: 6px;
  padding: 8px;
  background-color: #d9e9d9;
  border: 2px solid #8dbd8e;
  color: #1a3a1b;
  width: fit-content; }

.profile-post {
  width: 100%; }

.timeline-post {
  width: 50%; }

.profile-post,
.timeline-post {
  position: relative;
  background-color: #ffffff;
  border-radius: 6px;
  padding: 16px;
  box-shadow: 4px 4px 6px 4px rgba(180, 180, 183, 0.3);
  margin: 16px 0; }
  .profile-post .delete-post_button,
  .timeline-post .delete-post_button {
    position: absolute;
    top: 5px;
    right: 6px;
    height: 24px; }
    .profile-post .delete-post_button:hover, .profile-post .delete-post_button:active,
    .timeline-post .delete-post_button:hover,
    .timeline-post .delete-post_button:active {
      cursor: pointer; }
  .profile-post .post-info,
  .timeline-post .post-info {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    margin-bottom: 16px; }
    .profile-post .post-info div a,
    .timeline-post .post-info div a {
      font-weight: 700;
      text-decoration: none;
      color: #000000; }
    .profile-post .post-info div div:nth-child(2),
    .timeline-post .post-info div div:nth-child(2) {
      font-size: 0.8rem;
      color: #6c6c6e; }
  .profile-post .post-content,
  .timeline-post .post-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px; }
    .profile-post .post-content .post_image,
    .timeline-post .post-content .post_image {
      display: flex;
      justify-content: center;
      height: fit-content;
      border-top: 1px solid rgba(0, 0, 0, 0.3);
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 0; }
      .profile-post .post-content .post_image img,
      .timeline-post .post-content .post_image img {
        width: 100%;
        max-height: 500px;
        object-fit: contain; }
  .profile-post .social-actions_container,
  .timeline-post .social-actions_container {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 24px; }
    .profile-post .social-actions_container .likes-count,
    .timeline-post .social-actions_container .likes-count {
      display: flex;
      align-items: center;
      gap: 4px;
      height: 24px; }
  .profile-post .comments-toggle,
  .timeline-post .comments-toggle {
    text-align: end;
    font-weight: 700;
    color: #6c6c6e; }
    .profile-post .comments-toggle:hover, .profile-post .comments-toggle:active,
    .timeline-post .comments-toggle:hover,
    .timeline-post .comments-toggle:active {
      cursor: pointer; }

.comments_container {
  font-size: 0.9rem; }
  .comments_container .comment-form {
    margin: 16px 0;
    display: flex;
    gap: 8px;
    justify-content: space-between; }
    .comments_container .comment-form textarea {
      font-size: 0.9rem;
      padding: 8px;
      border-radius: 6px;
      width: 90%;
      background-color: #ededf0;
      border: none;
      resize: vertical;
      min-height: 2rem;
      max-height: 300px; }
    .comments_container .comment-form button {
      background-color: #429244;
      color: #ffffff;
      border-radius: 6px;
      border: none;
      font-weight: 700;
      padding: 8px;
      box-shadow: 2px 2px 4px 2px rgba(180, 180, 183, 0.3); }
      .comments_container .comment-form button:hover, .comments_container .comment-form button:active {
        cursor: pointer;
        background-color: #347436; }
  .comments_container .comment-single {
    position: relative;
    padding: 8px;
    background-color: rgba(237, 237, 240, 0.7);
    margin: 8px 0; }
    .comments_container .comment-single .delete-comment_button {
      position: absolute;
      top: 5px;
      right: 6px;
      height: 24px; }
      .comments_container .comment-single .delete-comment_button:hover, .comments_container .comment-single .delete-comment_button:active {
        cursor: pointer; }
  .comments_container .comment_author-info {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px; }
    .comments_container .comment_author-info div a {
      font-weight: 700;
      text-decoration: none;
      color: #000000; }
    .comments_container .comment_author-info div div:nth-child(2) {
      font-size: 0.8rem;
      color: #6c6c6e; }

.new-post_form h3 {
  margin-bottom: 16px; }
.new-post_form form {
  display: flex;
  flex-direction: column;
  gap: 16px; }
  .new-post_form form .input-group {
    display: flex;
    gap: 16px; }
    .new-post_form form .input-group img {
      height: 32px; }
      .new-post_form form .input-group img:hover, .new-post_form form .input-group img:active {
        cursor: pointer; }
  .new-post_form form .upload-group {
    display: flex;
    flex-direction: column; }
    .new-post_form form .upload-group .cancel-upload_button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 24px; }
      .new-post_form form .upload-group .cancel-upload_button:hover, .new-post_form form .upload-group .cancel-upload_button:active {
        cursor: pointer; }
      .new-post_form form .upload-group .cancel-upload_button img {
        height: 100%; }
  .new-post_form form textarea {
    width: 100%;
    resize: vertical;
    max-height: 300px;
    background-color: #ededf0;
    padding: 8px;
    font-size: 1rem;
    border-radius: 6px; }
  .new-post_form form button {
    background-color: #429244;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    padding: 6px 8px;
    font-size: 1.1rem; }
    .new-post_form form button:hover, .new-post_form form button:active {
      cursor: pointer;
      background-color: #347436; }

.requests {
  background-color: #ededf0;
  padding: 16px; }
  .requests .friends-requests_container {
    margin-bottom: 24px;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 16px; }
  .requests .friend-request_single {
    list-style-type: none;
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 8px 0; }
    .requests .friend-request_single a {
      text-decoration: none;
      color: #000000;
      display: flex;
      align-items: center;
      gap: 4px; }
      .requests .friend-request_single a:hover {
        text-decoration: underline; }
  .requests .action-button {
    padding: 4px;
    border-radius: 6px;
    border: none; }
  .requests .action-accept {
    background-color: #429244;
    color: #ffffff; }
    .requests .action-accept:hover, .requests .action-accept:active {
      cursor: pointer;
      background-color: #347436; }
  .requests .action-reject {
    background-color: #fb6666;
    color: #ffffff; }
    .requests .action-reject:hover, .requests .action-reject:active {
      cursor: pointer;
      background-color: #f90000; }

.users-list_link {
  background-color: #151375;
  width: fit-content;
  padding: 8px;
  margin-bottom: 24px;
  border-radius: 6px; }
  .users-list_link a {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none; }
    .users-list_link a:hover, .users-list_link a:active {
      text-decoration: underline; }

.users-list {
  background-color: #ededf0; }
  .users-list h2 {
    text-align: center;
    padding: 24px 0; }

.users-list_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 8px;
  row-gap: 8px; }
  .users-list_container .users-list_user {
    background-color: #ffffff;
    border-radius: 6px;
    padding: 6px;
    text-decoration: none;
    color: #000000; }
    .users-list_container .users-list_user:hover, .users-list_container .users-list_user:active {
      background-color: #d0cfe3; }
    .users-list_container .users-list_user .user-info {
      display: flex;
      align-items: center;
      gap: 6px; }

.privacy-policy {
  padding: 24px;
  background-color: #ededf0; }
  .privacy-policy h1 {
    margin-bottom: 24px; }
  .privacy-policy h2 {
    margin-top: 20px; }
  .privacy-policy h3 {
    margin-top: 16px; }
  .privacy-policy ul {
    margin-left: 18px; }

.settings-page {
  background-color: #e7e7e9;
  padding: 16px;
  display: flex;
  flex-direction: column; }

.change-name-form_container {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 6px;
  box-shadow: 4px 4px 6px 4px rgba(180, 180, 183, 0.3); }
  .change-name-form_container form {
    display: flex;
    gap: 16px;
    margin: 16px 0; }
    .change-name-form_container form input {
      font-size: 1rem;
      padding: 10px;
      border-radius: 6px;
      border: 1px solid #dddfe2;
      transition: all 500ms;
      outline: none; }
      .change-name-form_container form input:focus {
        border: 1px solid #151375;
        box-shadow: 0px 0px 6px 1px rgba(21, 19, 117, 0.5); }
    .change-name-form_container form button {
      background-color: #151375;
      color: #ffffff;
      font-size: 1rem;
      font-weight: 700;
      border: none;
      border-radius: 6px;
      padding: 8px;
      transition: background-color 300ms; }
      .change-name-form_container form button:hover, .change-name-form_container form button:active {
        cursor: pointer;
        background-color: #100f5d; }

/*# sourceMappingURL=App.css.map */
