@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

// Variables
$main-100: #d0cfe3;
$main-200: #a1a0c7;
$main-300: #7271ac;
$main-400: #434290;
$main-500: #151375;
$main-600: #100f5d;
$main-700: #0c0b46;
$main-800: #08072e;
$main-900: #040317;

$validation-100: #d9e9d9;
$validation-200: #b3d3b4;
$validation-300: #8dbd8e;
$validation-400: #67a769;
$validation-500: #429244;
$validation-600: #347436;
$validation-700: #275728;
$validation-800: #1a3a1b;
$validation-900: #0d1d0d;

$grey-50: #ededf0;
$grey-100: #e7e7e9;
$grey-200: #dadadd;
$grey-300: #cdcdcf;
$grey-400: #c1c1c3;
$grey-500: #b4b4b7;
$grey-600: #909093;
$grey-700: #6c6c6e;
$grey-800: #49494b;
$grey-900: #252527;
$grey-950: #131315;

$error-50: #fee5e5;
$error-100: #fdcccc;
$error-200: #fc9999;
$error-300: #fb6666;
$error-400: #fa3333;
$error-500: #f90000;
$error-600: #c70000;
$error-700: #950000;
$error-800: #630000;
$error-900: #310000;
$error-950: #180000;


// GENERAL STYLING
* {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

html {
  min-height: 100%;
}

body {
  height: 100%;
}

::selection {
  background: $main-500;
  color: #ffffff;
}

main {
  //padding: 0 16px;
  min-height: 100%;
  margin: 0;
}

.content {
  padding: 0 16px 12vh 16px;
  margin-top: 64px;
  min-height: calc(100vh - 64px);
  width: 100%;
}

.separator {
  height: 1px;
  border-radius: 6px;
  width: 100%;
  margin: 16px 0;
  background-color: rgba($grey-500, 0.3);
}

.backdrop {
  opacity:0;  
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background-color: rgba($grey-100, 0.5);
  transition: opacity 250ms;

  &.open {
    opacity: 1;
    z-index: 6;
  }
}

.bolded {
  font-weight: 700;
}

.heart-icon {
  color: $main-500;

  &:hover,
  &:active {
    cursor: pointer;
  }
}


// HEADER
header {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  background-color: $main-500;
  color: #ffffff;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;

  a {
    color: #ffffff;
    text-decoration: none;
  }

  nav {
    display: flex;
    gap: 24px;
    align-items: center;


    img {
      height: 32px;
    }

    .user-container_profile {
      display: flex;
    }

    .user-dropdown_button {
      position: relative;

      .dropdown-menu {
        position: absolute;
        right: 0;
        bottom: -110px;
        border: 2px solid $main-500;
        background-color: #ffffff;
        color: #000000;
        border-radius: 6px;
        box-shadow: 4px 4px 6px 4px rgba(180, 180, 183, 0.3);
        
        .dropdown-separator {
          height: 1px;
          border-radius: 6px;
          width: 100%;
          background-color: rgba($grey-500, 0.3);
        }

        .dropdown-link {
          color: #000000;
          border-radius: 6px;

          &:first-of-type {
            div {
              border-top-left-radius: 6px;
              border-top-right-radius: 6px;
            }
          }

          &:last-of-type {
            div {
              border-bottom-left-radius: 6px;
              border-bottom-right-radius: 6px;
            }
          }

          div {
            padding: 6px 12px;

            &:hover {
              cursor: pointer;
              background-color: $main-100;
            }
          }
        }
      }
    }

    .button_logout {
      img {
        height: 24px;
      }

      &:hover,
      &:active {
        cursor: pointer;
      }
    }
  }
}

.header_logo {
  font-weight: 700;
  font-size: 2rem;
}


// PAGES
// Homepage and login / sign up
.homepage {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: $grey-50;

  .logo {
    font-size: 3rem;
    font-weight: 700;
    color: $main-500;
    margin-bottom: 24px;
    transition: 250ms;

    &:hover {
      text-shadow: 0px 0px 8px rgba($main-500, 0.33);
    }
  }

  h2 {
    position: relative;
    top: -60px;
    opacity: 0;
    transition: all 1250ms ease-out;

    &.animated {
      opacity: 1;
      top: 0;
    }
  }

  .guest-login_button {
    padding: 6px;
    border-radius: 6px;
    background-color: $grey-50;
    border: none;

    &:hover,
    &:active {
      cursor: pointer;
      background-color: $grey-200;
    }
  }
}

.login-container {
  position: relative;

  .policy-link {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    color: #000000;
    text-decoration: none;
    font-size: 0.8rem;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}

.login-form_container {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  box-shadow: 4px 4px 6px 4px rgba($grey-500, 0.3);

  a {
    margin-top: 8px;
    color: $main-500;
    font-size: 0.9rem;
    text-decoration: none;

    &:active,
    &:hover {
      text-decoration: underline;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 25vw;

    input {
      font-size: 1.1rem;
      padding: 16px 14px;
      border-radius: 6px;
      border: 1px solid #dddfe2;
      transition: all 500ms;
      outline: none;

      &:focus {
        border: 1px solid $main-500;
        box-shadow: 0px 0px 6px 1px rgba($main-500, 0.5);
      }
    }

    button {
      background-color: $main-500;
      color: #ffffff;
      font-size: 1.5rem;
      font-weight: 700;
      border: none;
      border-radius: 6px;
      padding: 8px;
      transition: background-color 300ms;

      &:hover,
      &:active {
        cursor: pointer;
        background-color: #100f5d;
      }
    }
  }

  .signup-button {
    background-color: #679242;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 6px;
    border: none;
    padding: 8px;
    height: 100%;
    text-decoration: none;
    transition: background-color 300ms;

    &:hover,
    &:active {
      cursor: pointer;
      background-color: #417712;
    }
  }
}

.signup-modal {
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 250ms;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 4px 4px 6px 4px rgba($grey-500, 0.3);

  &.open {
    opacity: 1;
    z-index: 7;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 0 16px;

    .close-button {
      font-size: 1.5rem;
      
      &:hover,
      &:active {
        cursor: pointer;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    padding: 0 16px 16px 16px;
    gap: 16px;

    .personal-info {
      display: flex;
      gap: 16px;
    }

    input {
      font-size: 1rem;
      padding: 8px;
      background-color: $grey-50;
      border-radius: 6px;
      border: 1px solid #dddfe2;
      outline-color: $main-500;
    }

    button {
      background-color: $main-500;
      color: #ffffff;
      font-size: 1.5rem;
      font-weight: 700;
      border: none;
      border-radius: 6px;
      padding: 8px;
      transition: background-color 300ms;

      &:hover,
      &:active {
        cursor: pointer;
        background-color: #100f5d;
      }
    }
  }
}


// Login recover page
.recover {
  background-color: $grey-50;
  display: flex;
  justify-content: center;

  .recover-form_container {
    background-color: #ffffff;
    padding: 16px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    width: auto;
    height: fit-content;
    margin-top: 24px;
    box-shadow: 4px 4px 6px 4px rgba($grey-500, 0.3);
  
    a {
      margin-top: 8px;
      color: $main-500;
      font-size: 0.9rem;
      text-decoration: none;
  
      &:active,
      &:hover {
        text-decoration: underline;
      }
    }
  
    form {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 25vw;
  
      input {
        font-size: 1.1rem;
        padding: 16px 14px;
        border-radius: 6px;
        border: 1px solid #dddfe2;
        transition: all 500ms;
        outline: none;
  
        &:focus {
          border: 1px solid $main-500;
          box-shadow: 0px 0px 6px 1px rgba($main-500, 0.5);
        }
      }
  
      button {
        background-color: $main-500;
        color: #ffffff;
        font-size: 1.5rem;
        font-weight: 700;
        border: none;
        border-radius: 6px;
        padding: 8px;
        transition: background-color 300ms;
  
        &:hover,
        &:active {
          cursor: pointer;
          background-color: #100f5d;
        }
      }
    }
  }
}


// PROFILE PAGE
.profile {
  background-color: $grey-50;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: absolute;

  div {
    border-radius: 6px;
  }

  .user-info_container {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 4px 6px 4px rgba(180, 180, 183, 0.3);
  }

  .background_container {
    position: relative;
    height: 350px;
    box-shadow: 4px 4px 6px 4px rgba(180, 180, 183, 0.3);

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .background-picture_overlay {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.2s;

    img {
      position: absolute;
      right: 16px;
      bottom: 16px;
      height: 20%;
    }

    &.active {
      opacity: 1;
      cursor: pointer;
    }
  }

  .background-picture {
    position: relative;
    top: 0;
    z-index: 0;
    height: 100%;
    border-radius: 6px;
    width: 66vw;
  }
  
  .profile-picture_overlay {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 4;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    transition: 0.2s;

    img {
      height: 40%;
      width: 40%;
    }

    &.active {
      opacity: 1;
      cursor: pointer;
    }
  }

  .profile-picture {
    position: relative;
    z-index: 3;
    box-shadow: 0 0 0 6px #ffffff;
  }

  .user-info {
    display: flex;
    align-items: center;
    gap: 24px;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    top: -50px;
    left: 40px;
    width: 66vw;
    padding-right: 40px;

    h3 {
      font-size: 2rem;
    }

    .user-info_data {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    div {
      //width: auto;
    }
  }

  .add-friend-button {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: $main-500;
    color: #ffffff;
    border-radius: 6px;
    font-weight: 700;
    padding: 0 8px;

    &:hover,
    &:active {
      cursor: pointer;
      background-color: $main-600;
    }
  }

  .friendship-status {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #ffffff;
    border-radius: 6px;
    font-weight: 700;
    padding: 0 8px;
    font-size: 0.9rem;

    &.accepted {
      border: 2px solid $validation-500;
      color: $validation-500;
    }

    &.delete {
      border: 2px solid $error-500;
      background-color: $error-300;
      color: #ffffff;

      &:hover {
        cursor: pointer;
      }
      
      &:active {
        //cursor: pointer;
        background-color: $error-500;
      }
    }

    &.pending {
      background-color: $validation-300;
    }
  }

  .social-container {
    display: flex;
    gap: 16px;
    width: calc(100% - 20vw);

    .friends_container {
      background-color: #ffffff;
      padding: 16px;
      box-shadow: 4px 4px 6px 4px rgba(180, 180, 183, 0.3);
      height: fit-content;

      .section-header {
        font-size: 1.3rem;
        margin-bottom: 16px;

        h3 {
          font-size: 1.5rem;
        }
      }
    }

    .friends_container {
      width: 35%;
    }

    .profile_new-post {
      background-color: #ffffff;
      box-shadow: 4px 4px 6px 4px rgba(180, 180, 183, 0.3);
      padding: 16px;
      margin-bottom: 36px;

      h3 {
        margin-bottom: 16px;
      }
    }

    .posts_container {
      width: 60%;

      .section-header {
        display: flex;
        justify-content: space-between;
        background-color: #ffffff;
        border-radius: 6px;
        padding: 16px;
        box-shadow: 4px 4px 6px 4px rgba(180, 180, 183, 0.3);

        h3 {
          font-size: 1.5rem;
        }

        button {
          background-color: $main-400;
          color: #ffffff;
          border: none;
          border-radius: 6px;
          padding: 6px 8px;
          font-size: 1rem;

          &:hover,
          &:active {
            cursor: pointer;
            background-color: $main-500;
          }
        }
      }
    }

    .friends-list {
      max-width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, 120px);
      gap: 8px;

      .friend {
        width: 100%;
        justify-self: center;
        align-self: center;

        a {
          text-decoration: none;
          
          &:hover,
          &:active {
            text-decoration: underline;
          }
        }

        .name {
          font-size: 0.9rem;
          font-weight: 700;
          color: #000000;
        }
      }
    }
  }
}

// TIMELINE PAGE
.timeline-page {
  background-color: $grey-50;
  display: flex;
  flex-direction: column;
  align-items: center;

  .new-post_container {
    width: 60%;
    background-color: #ffffff;
    padding: 16px;
    margin: 32px 0;
    border-radius: 6px;
    box-shadow: 2px 2px 4px 2px rgba(180, 180, 183, 0.3);

    h3 {
      margin-bottom: 16px;
    }
  }
  
  .timeline-posts_container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

}


// MAJOR COMPONENTS
.error-container {
  border-radius: 6px;
  padding: 8px;
  background-color: $error-100;
  border: 2px solid $error-300;
  color: $error-800;

  ul {
    margin-left: 20px;
  }
}

.profile-post {
  width: 100%;
}

.timeline-post {
  width: 50%;
}

.profile-post,
.timeline-post {
  position: relative;
  background-color: #ffffff;
  border-radius: 6px;
  padding: 16px;
  box-shadow: 4px 4px 6px 4px rgba(180, 180, 183, 0.3);
  margin: 16px 0;

  .delete-post_button {
    position: absolute;
    top: 5px;
    right: 6px;
    height: 24px;

    &:hover,
    &:active {
      cursor: pointer;
    }
  }


  .post-info {
    display: flex;
    align-items: center;
    gap:8px;
    width: 100%;
    margin-bottom: 16px;

    div {
      a {
        font-weight: 700;
        text-decoration: none;
        color: #000000;
      }

      div:nth-child(2) {
        font-size: 0.8rem;
        color: $grey-700;
      }
    }
  }

  .post-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;

    .post_image {
      display: flex;
      justify-content: center;
      height: fit-content;
      border-top: 1px solid rgba(0, 0, 0, 0.3);
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 0;

      img {
        width: 100%;
        max-height: 500px;
        object-fit: contain;
      }
    }
  }

  .social-actions_container {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 24px;

    .likes-count {
      display: flex;
      align-items: center;
      gap: 4px;
      height: 24px;
    }
  }

  .comments-toggle {
    text-align: end;
    font-weight: 700;
    color: $grey-700;

    &:hover,
    &:active {
      cursor: pointer;
    }
  }
}

.comments_container {
  font-size: 0.9rem;

  .comment-form {
    margin: 16px 0;
    display: flex;
    gap: 8px;
    justify-content: space-between;

    textarea {
      font-size: 0.9rem;
      padding: 8px;
      border-radius: 6px;
      width: 90%;
      background-color: $grey-50;
      border: none;
      resize: vertical;
      min-height: 2rem;
      max-height: 300px;
    }

    button {
      background-color: $validation-500;
      color: #ffffff;
      border-radius: 6px;
      border: none;
      font-weight: 700;
      padding: 8px;
      box-shadow: 2px 2px 4px 2px rgba(180, 180, 183, 0.3);

      &:hover,
      &:active {
        cursor: pointer;
        background-color: $validation-600;
      }
    }
  }

  .comment-single {
    position: relative;
    padding: 8px;
    background-color: rgba($grey-50, 0.7);
    margin: 8px 0;

    .delete-comment_button {
      position: absolute;
      top: 5px;
      right: 6px;
      height: 24px;
  
      &:hover,
      &:active {
        cursor: pointer;
      }
    }
  }

  .comment_author-info {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;

    div {
      a {
        font-weight: 700;
        text-decoration: none;
        color: #000000;
      }

      div:nth-child(2) {
        font-size: 0.8rem;
        color: $grey-700;
      }
    }
  }
}

.new-post_form {
  h3 {
    margin-bottom: 16px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .input-group {
      display: flex;
      gap: 16px;

      img {
        height: 32px;

        &:hover,
        &:active {
          cursor: pointer;
        }
      }
    }

    .upload-group {
      display: flex;
      flex-direction: column;

      .cancel-upload_button {
        display: flex;
        justify-content: center;
        align-items: center;
        //background-color: $main-200;
        height: 24px;

        &:hover,
        &:active {
          cursor: pointer;
        }

        img {
          height: 100%;
        }
      }
    }

    textarea {
      width: 100%;
      resize: vertical;
      max-height: 300px;
      background-color: $grey-50;
      padding: 8px;
      font-size: 1rem;
      border-radius: 6px;
    }

    button {
      background-color: $validation-500;
      color: #ffffff;
      border: none;
      border-radius: 6px;
      padding: 6px 8px;
      font-size: 1.1rem;

      &:hover,
      &:active {
        cursor: pointer;
        background-color: $validation-600;
      }
    }
  }
}

// FRIENDS REQUEST PAGE
.requests {
  background-color: $grey-50;
  padding: 16px;

  .friends-requests_container {
    margin-bottom: 24px;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 16px;
  }

  .friend-request_single {
    list-style-type: none;
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 8px 0;

    a {
      text-decoration: none;
      color: #000000;
      display: flex;
      align-items: center;
      gap: 4px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .action-button {
    padding: 4px;
    border-radius: 6px;
    border: none;
  }

  .action-accept {
    background-color: $validation-500;
    color: #ffffff;

    &:hover,
    &:active {
      cursor: pointer;
      background-color: $validation-600;
    }
  }

  .action-reject {
    background-color: $error-300;
    color: #ffffff;

    &:hover,
    &:active {
      cursor: pointer;
      background-color: $error-500;
    }
  }
}

// Users list page
.users-list_link {
  background-color: $main-500;
  width: fit-content;
  padding: 8px;
  margin-bottom: 24px;
  border-radius: 6px;

  a {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}

.users-list {
  background-color: $grey-50;

  h2 {
    text-align: center;
    padding: 24px 0;
  }
}

.users-list_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 8px;
  row-gap: 8px;

  .users-list_user {
    background-color: #ffffff;
    border-radius: 6px;
    padding: 6px;
    text-decoration: none;
    color: #000000;

    &:hover,
    &:active {
      background-color: $main-100;
    }

    .user-info {
      display: flex;
      align-items: center;
      gap: 6px;
    }
  }
}

// Privacy policy page
.privacy-policy {
  padding: 24px;
  background-color: $grey-50;

  h1 {
    margin-bottom: 24px;
  }

  h2 {
    margin-top: 20px;
  }

  h3 {
    margin-top: 16px;
  }

  ul {
    margin-left: 18px;
  }
}